files:
  "/usr/local/bin/init_nltk.sh":
    mode: "000755"
    owner: root
    group: root
    content: |            
      #!/bin/bash
      pip install nltk
      python -m nltk.downloader -d /usr/local/share/nltk_data punkt
      python -m nltk.downloader -d /usr/local/share/nltk_data stopwords

  "/etc/httpd/conf.d/cors.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      <Location "/">
        Header set Access-Control-Allow-Methods: "POST, GET, PUT, DELETE, OPTIONS"
        Header add Access-Control-Allow-Headers: "Authorization, Content-Type, Accept"
        Header set Access-Control-Allow-Credentials: true
 
        SetOutputFilter DEFLATE
      </Location>

container_commands:
  01_run_init:
    command: "sudo sh /usr/local/bin/init_nltk.sh"

